<%- include("partials/header.ejs") %>
    <div class="home-container">
        <div class="home-container-inner">
            <h1>Welcome to ToDo List App!</h1>
            <div class="home-buttons">
                <a href="/day"><button>Day</button></a>
                <a href="/work"><button>Work</button></a>
            </div>
        </div>
    </div>
<%- include("partials/footer.ejs") %>